@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-principal{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  width: 90%;
  height: 450px;
  padding: 40px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container img{
  width: 64px;
  height: 40px;
}
.container h1{
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display';
}
.container p{
  font-family: 'Lexend deca';
  font-weight: 500;
  line-height: 1.5rem;
  font-size: .9rem;
}
.container button{
  padding: 10px;
  border-radius: 25px;
  width: 75%;
  font-size: .9rem;
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  
}
.container1{
  border-radius: 15px 15px 0 0;
  background-color: hsl(31, 77%, 52%);
}
.container1 button{
  color: hsl(31, 77%, 52%);
}
.container1 button:hover{
  background-color: hsl(31, 100%, 20%);
  color: hsl(31, 100%, 60%);
}

.container2{
  background-color: hsl(184, 100%, 22%);
}
.container2 button{
  color: hsl(184, 100%, 22%);
}
.container2 button:hover{
  background-color: hsl(185, 100%, 10%);
  color: hsl(184, 100%, 34%);
}

.container3{
  border-radius: 0 0 15px 15px;
  background-color: hsl(179, 100%, 13%);
}
.container3 button{
  color: hsl(179, 100%, 13%);
}
.container3 button:hover{
  background-color: hsl(178, 100%, 6%);
  color: #f6f6f6;
}

@media screen and (min-width: 720px) {
  main{
    height: 100vh;
  }
  .container-principal{
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;

    border-radius: 15px;
  }
  .container1{
    border-radius: 15px 0 0 15px;
  }
  .container3{
    border-radius: 0 15px 15px 0;
  }
}